* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #745004;
  color: white;
}

button {
  cursor: pointer;
}

:root{
    --primary:#c78409;
    --background: #c78409;
    --card:#ffa200;
    --text:white;
}