* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #3f0314;
  color: white;
}

button {
  cursor: pointer;
}

:root{
    --primary:#8f0039;
    --background: #3f0314;
    --card:#1e293b;
    --text:white;
}