nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  background: var(--background);
  border-bottom: 1px solid #374151;
}

nav h2 {
  color: var(--primary);
  font-size: 30px;
  font-weight: bold;
}

nav div {
  display: flex;
  gap: 15px;
}

nav button {
  padding: 10px 22px;
  border: none;
  border-radius: 8px;
  background: var(--primary);
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

nav button:hover {
  background: var(--primary);
}